amqp==5.3.1
annotated-types==0.7.0
anyio==4.12.1
argcomplete==3.6.3
asgiref==3.11.1
attrs==25.4.0
beautifulsoup4==4.14.3
billiard==4.2.4
blivet==3.12.1
blivet-gui==2.6.0
boto3==1.43.2
botocore==1.43.2
Brlapi==0.8.7
CacheControl==0.14.4
celery==5.6.3
certifi==2025.7.9
cffi==2.0.0
chardet==7.4.3
charset-normalizer==3.4.3
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cockpit @ file:///builddir/build/BUILD/cockpit-361-build/cockpit-361/tmp/wheel/cockpit-361-py3-none-any.whl#sha256=3ee132fa1d1cfa874c8b161f8f836cf4456d82d7299b66b4a5d2ff93f57c8098
colorama==0.4.6
crypt_r==3.13.1
cryptography==48.0.0
cupshelpers==1.0
dasbus==1.7
dbus-python==1.4.0
dbus_next==0.2.3
distro==1.9.0
dj-database-url==3.1.2
Django==6.0.4
django-cors-headers==4.9.0
django-extensions==4.1
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
dnf==4.24.0
drf-spectacular==0.26.5
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.29.0
firebase_admin==7.4.0
ghauri==1.4.3
google-ai-generativelanguage==0.6.15
google-api-core==2.25.2
google-api-python-client==2.197.0
google-auth==2.53.0
google-auth-httplib2==0.4.0
google-cloud-core==2.6.0
google-cloud-firestore==2.27.0
google-cloud-storage==3.10.1
google-crc32c==1.8.0
google-generativeai==0.8.6
google-resumable-media==2.9.0
googleapis-common-protos==1.75.0
grpcio==1.81.0
grpcio-status==1.71.2
gunicorn==26.0.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
html2text==2025.4.15
httpcore==1.0.9
httplib2==0.31.2
httpx==0.28.1
humanize==4.13.0
hyperframe==6.1.0
idna==3.10
inflection==0.5.1
initial-setup==0.3.101
iso639==0.1.4
jmespath==1.0.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kombu==5.6.2
langtable==0.0.69
libcomps==0.1.23
libdnf==0.75.0
libdnf5==5.2.18.0
louis==3.33.0
lxml==6.0.1
msgpack==1.1.2
nftables==0.1
numpy==2.4.4
olefile==0.47
packaging==25.0
pandas==3.0.3
perf==0.1
pexpect==4.9.0
pid==3.0.4
pillow==11.3.0
ply==3.11
productmd==1.50
prompt_toolkit==3.0.52
proto-plus==1.28.0
protobuf==5.29.6
psutil==7.0.0
psycopg2-binary==2.9.12
ptyprocess==0.7.0
pwquality==1.4.5
pyasn1==0.6.3
pyasn1_modules==0.4.2
PyAudio==0.2.13
pycairo==1.28.0
pycparser==2.22
pycryptodomex==3.23.0
pycups==2.0.4
pydantic==2.13.4
pydantic_core==2.46.4
pyenchant==3.2.2
pygdbmi==0.11.0.0
PyGObject==3.54.5
pyinotify==0.9.6
PyJWT==2.12.1
pykickstart @ file:///builddir/build/BUILD/pykickstart-3.66-build/pykickstart-3.66
pyparsing==3.3.2
pyparted==3.13.0
PySocks==1.7.1
python-augeas==1.2.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-linux-procfs==0.7.3
python-meh==0.52
pyudev==0.24.3
pyxdg==0.28
PyYAML==6.0.2
RapidFuzz==3.12.2
ratelimit==2.2.1
redis==7.4.0
referencing==0.36.2
regex==2026.2.28
requests==2.32.5
requests-file==2.0.0
requests-ftp==0.3.1
rpds-py==0.27.0
rpm==6.0.1
s3transfer==0.17.0
scipy==1.17.1
selinux @ file:///builddir/build/BUILD/libselinux-3.9-build/libselinux-3.9/src
sentry-sdk==2.35.0
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.9-build/selinux-3.9/python/sepolicy
setools==4.6.0
setroubleshoot @ file:///builddir/build/BUILD/setroubleshoot-3.3.36-build/setroubleshoot-3.3.36/src
setuptools==78.1.1
simpleaudio==1.0.4
simpleline==1.9.0
six==1.17.0
sniffio==1.3.1
sos==4.11.1
soupsieve==2.8
sqlparse==0.5.5
stripe==15.2.0
systemd-python==235
termcolor==3.3.0
tldextract==5.3.1
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
tzlocal==5.3.1
ua-generator==2.0.26
uritemplate==4.2.0
urllib3==2.6.3
vine==5.1.0
wcwidth==0.7.0
whitenoise==6.12.0
xkbregistry==0.3
